
 .fadeInLeft {
    animation-duration: 1s;
     -webkit-animation-duration: 1s;
     animation-fill-mode: both; /*ida y regreso*/
     -webkit-animation-fill-mode: both;
     animation-name: fadeInLeft;
     -webkit-animation-name: fadeInLeft;     
 }

 @keyframes fadeInLeft {
    from {
        -webkit-transform: translate3d(-10%,0,0);
        transform: translate3d(-10%,0,0);
    }
    to {
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }
 }

 .fadeInRight {
    animation-duration: 1s;
     -webkit-animation-duration: 1s;
     animation-fill-mode: both; /*ida y regreso*/
     -webkit-animation-fill-mode: both;
     animation-name: fadeInRight;
     -webkit-animation-name: fadeInRight;     
 }

 @keyframes fadeInRight {
    from {
        -webkit-transform: translate3d(10%,0,0);
        transform: translate3d(10%,0,0);
    }
    to {
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }
 }

 @media screen and (max-width:980px) {
    @keyframes fadeInDown {
        from {
            -webkit-transform: translate3d(-1%,0,0);
            transform: translate3d(-1%,0,0);
        }
        to {
            -webkit-transform: translate3d(0,0,0);
            transform: translate3d(0,0,0);
        }
     }
    
     @keyframes fadeInUp {
        from {
            -webkit-transform: translate3d(1%,0,0);
            transform: translate3d(1%,0,0);
        }
        to {
            -webkit-transform: translate3d(0,0,0);
            transform: translate3d(0,0,0);
        }
     }
 }