@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700&display=swap');

:root {
    --violet: #A334CD;
    --bordeaux: #7E0416;
    --gray: #555555;
    --white: #ffffff;
    --black: #000000;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-size: 14pt;
    color:var(--gray);
    background-color: var(--bordeaux);
    line-height: 1.75;
    letter-spacing: 0.05em;
}

ul {
    list-style: none;
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}

a {
    text-decoration: none;
    color: var(--gray);
}

/*Contenedor general*/
.container {
    max-width: calc(100vw - 10em);
    margin: 2em auto 0 auto;
    background-color: var(--white);
    text-align: center;
    display: flex;
    justify-content: center;
}
/*Fin de contenedor general*/

/*Comienza el Home*/
.img-container {
    width: 50%;
    height: 100%;
}

.img-container img {
    display: block;
    width: 100%;
}

.text-container {
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
header {
    margin-bottom: 44px;
}
header h1 {
    text-transform: uppercase;
    font-size: 30px;
    letter-spacing: 0.15em;
    margin: auto;
    display: block;
}

header p {
    margin: auto;
}

.nav {
    margin-bottom: 30px;
}

header p,
.nav li a {
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 0.1em;
}
.nav li {
    width: 160px;
    padding: 3px;
    border: 1px solid var(--gray);
    border-radius: 5px;
    margin: 22px;
}
.nav li:hover{
    border-color: var(--bordeaux);
}

.nav li a:hover {
    color: var(--bordeaux);
}
.social {
    margin-bottom: 30px;
    display: flex;
}
.social a {
    color: var(--gray);
    font-size: 20px;
    margin: 0 15px;
}
.social a:hover {
    color: var(--bordeaux);
}
footer {
    text-align: center;
    margin: 22px;
    color: var(--white);
}
/*Fin del Home*/